<%
  title = t(".title")
  if @search
    if @dont_show_history
      size = @size_no_history
    else
      size = @size_all
    end
    @sub_title = "#{t('.search_results_subtitle')} (#{size})"
  else
    @sub_title = t(".last_changed_nodes_subtitle")
  end
%>

<header class="mdl-layout__header mdl-layout__header--scroll nodes__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title mdl-badge" data-badge="β">
      <a href="/nodes"><%= title %></a>
    </span>
    <i class="material-icons">chevron_right</i>
    <span class="mdl-layout-title nodes__sub-title"><%= @sub_title %></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <% if current_user.role == "administrator" %>
        <a class="mdl-navigation__link" href="/settings#general">
          <label class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">settings</i>
          </label><%= t(".settings") %>
        </a>
      <% end %>
      <% unless Settings.support_email.empty? %>
        <a class="mdl-navigation__link" href="mailto:<%= Settings.support_email %>">
          <label class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">feedback</i>
          </label><%= t(".support") %>
        </a>
      <% end %>
      <%= link_to edit_user_path(current_user), class: "mdl-navigation__link" do %>
        <label class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">person</i>
        </label><%= t(".profile") %>
      <% end %>
      <%= link_to sign_out_path, class: "mdl-navigation__link", method: :delete do %>
        <label class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">exit_to_app</i>
        </label><%= t(".exit") %>
      <% end %>
    </nav>
  </div>
</header>

<% if @search %>
  <div class="header__back-icon">
    <a href="/nodes">
      <i id="back-button" class="material-icons">arrow_back</i>
    </a>
  </div>
<% end %>
