<div id="nodes__spinner-template"><%= render "nodes/row/remote_status/spinner" %></div>
<div id="nodes__status-false-template"><%= render "nodes/row/remote_status/status_false" %></div>
<div id="nodes__status-true-template"><%= render "nodes/row/remote_status/status_true" %></div>
<%# http://stackoverflow.com/a/10610347 %>
<script type="text/javascript">
  window.I18n = <%= current_translations[:js].to_json.html_safe %>
  // vipnetInterface.nodesData = {};
  <%= @js.html_safe %>
</script>

<% t("nodes.fullscreen_tooltip").each do |key, value| %>
  <%# filter t(".close") and etc. %>
  <% if value.class == Hash %>
    <%= render "fullscreen_tooltip", key: key, short: value[:short], long: value[:long] %>
  <% end %>
<% end %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render "header" %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="nodes">
        <%#= render "menu" %>
        <form action="/nodes" method="get">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <%= render "thead" %>
            <% unless @nodes.empty? %>
              <tbody>
                <% @nodes.each do |node| %>
                  <%= render "row", node: node, search: @search %>
                <% end %>
              </tbody>
            <% end %>
          </table>
        </form>
      </div>
      <%= will_paginate @nodes, previous_label: "<i class='material-icons'>chevron_left</i>", next_label: "<i class='material-icons'>chevron_right</i>", inner_window: 1 %>
      <%= render "per_page" %>
      <%= render "snackbar" %>
    </div>
  </main>
</div>
