<%
  unless defined?(field_label)
    if type == "password"
      field_label = t(".password_label")
    elsif type == "password_confirmation"
      field_label = t(".password_confirmation_label")
    elsif type == "current_password"
      field_label = t(".current_password_label")
    elsif type == "new_password"
      field_label = t(".new_password_label")
    end
  end

  if type == "new_password" || type == "password_confirmation"
    autocomplete = "off"
  else
    autocomplete = "on"
  end

  if type == "new_password"
    type = "password"
  end
%>

<div class="field">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label auth__textfield">
    <input autocomplete="<%= autocomplete %>" class="mdl-textfield__input auth__input" name="user_session[<%= type %>]" id="user_<%= type %>" tabindex="2" type="password" />
    <label class="mdl-textfield__label auth__label" for="user_<%= type %>"><%= field_label %></label>
  </div>
</div>
