<h1>Iplirconfs</h1>

<table border=1>
  <tr>
    <th>id</th>
    <th>coordinator</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th colspan="1"></th>
  </tr>

  <% @iplirconfs.each do |iplirconf| %>
    <tr>
      <td><%= iplirconf.id %></td>
      <td><%= Coordinator.find_by_id(iplirconf.coordinator_id).vipnet_id %></td>
      <td><%= iplirconf.created_at %></td>
      <td><%= iplirconf.updated_at %></td>
      <td><%= link_to "Show", iplirconf_path(iplirconf) %></td>
    </tr>
  <% end %>
</table>
