<div name="info" class="mdl-shadow--2dp info-block">
  <div class="info-block__title"><span name="name"></span></div>
  <div name="close" class="info-block__close-button">
    <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary">
      <i class="material-icons">close</i>
    </label>
  </div>
  <div class="info-block__text">
    <%= t("nodes.row.info.category") %>:&nbsp;<span name="category"></span>
    <%= t("nodes.row.info.network") %>:&nbsp;<span name="network"></span>
    <%= t("nodes.row.info.ips") %>:&nbsp;<span name="ips"></span>
    <%= t("nodes.row.info.vipnet_version_hw") %>:&nbsp;<span name="vipnet-version-hw"></span>
    <%= t("nodes.row.info.mftp") %>:&nbsp;<span name="mftp"></span>
    <%= t("nodes.row.info.ncc") %>:&nbsp;<span name="ncc"></span>
  </div>
</div>
