<td class="mdl-data-table__cell--non-numeric">
  <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent remote-status__alerts nodes__hover-for-tooltip" disabled>
    <i class="material-icons">warning</i>
  </label>
  <div class="nodes__tooltip--hoverable alerts__tooltip">
    <% if node["deleted_at"] %>
      <div>
        <%= t(".node_deleted") %><br>
        <span data-fullscreen-tooltip-key="node-deleted" class="nodes__link--same-page"><%= t(".more") %></span>
      </div>
    <% end %>
    <% if node["history"] %>
      <div>
        <%= t(".dated_data") %><br>
        <%= t(".from") %> <%= node["created_at"].strftime("%Y-%m-%d %H:%M UTC") %><br>
        <%= t(".to") %> <%= node["updated_at"].strftime("%Y-%m-%d %H:%M UTC") %>
      </div>
    <% end %>
    <% unless node["enabled"] %>
      <div>
        <%= t(".node_disabled") %><br>
        <span data-fullscreen-tooltip-key="node-disabled" class="nodes__link--same-page"><%= t(".more") %></span>
      </div>
    <% end %>
  </div>
</td>
