<% if @response[:history] %>
  <%= @response[:place] == "before" ? t(".last_data") : t(".history") %>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <% @response[:nodes].each do |node| %>
      <%= render "nodes/row", node: node %>
    <% end %>
  </table>
<% else %>
  <% node_status = @response[:status] ? t(".available") : t(".unavailable") %>
  <%= t(".node") %> "<%= @node.name %>" <%= t(".now") %> <%= node_status %>.<br>
<% end %>
<%= t(".enable_js") %><br>
<%= link_to t(".back"), "/nodes" %>
