<th class="nodes__th">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label nodes__textfield">
    <input class="mdl-textfield__input nodes__input" name="<%= id %>" value="<%= value %>" id="<%= id %>" tabindex="<%= tabindex %>" type="text" />
    <label class="mdl-textfield__label nodes__label" for="<%= id %>"><%= label %></label>
  </div>
</th>
