<body data-no-turbolink="true">

  <div class="auth__form--outside">
    <div class="auth__form mdl-shadow--2dp">
      <%= render "shared/header", text: t(".label") %>
      <%= form_for @user_session do |f| %>
        <%= render "shared/email" %>
        <%= render "shared/password", type: "password" %>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="user_remember_me">
            <input name="user_session[remember_me]" value="0" type="hidden">
            <input id="user_remember_me" type="checkbox" name="user_session[remember_me]" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"><%= t(".remember_me") %></span>
          </label>
        <%= render "shared/submit", text: t(".submit_label") %>
      <% end %>
    </div>
  </div>

</body>
