<%= content_tag(:div, class: "auth__form--outside") do %>
  <%= content_tag(:div, class: "auth__form") do %>
    <%= content_tag(:h3, t(".label")) %>

    <% if @user_session.errors.any? %>
      <% @user_session.errors.messages.each do |field, error_messages| %>
        <% error_messages.each do |error_message| %>
          <%
            field_label = case field
            when                                  :base
              t("authlogic.attributes.user_session.base")
            when                                  :login
              t("authlogic.attributes.user_session.login")
            when                                  :email
              t("authlogic.attributes.user_session.email")
            when                                  :password
              t("authlogic.attributes.user_session.password")
            when                                  :remember_me
              t("authlogic.attributes.user_session.remember_me")
            end
          %>
          <%= content_tag(:span, class: "auth__error") do %>
            <%= field_label %>
            <%= error_message %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for @user_session do |f| %>
      <%= render "shared/textfield", props: {
            id: "email",
            name: "user_session[email]",
            autocomplete: "on",
            autofocus: "true",
          }
      %>

      <%= render "shared/textfield", props: {
            id: "password",
            name: "user_session[password]",
            autocomplete: "on",
            type: "password",
          }
      %>

      <%# It is hard to make "railish" html below due to mdl mdl-checkbox preprocessing %>
      <%# (or something else I don't understand). %>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="user_remember_me">
        <input name="user_session[remember_me]" value="0" type="hidden">
        <input id="user_remember_me" type="checkbox" name="user_session[remember_me]" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label"><%= t(".remember_me") %></span>
      </label>

      <%= content_tag(:span, t(".reset_password"), class: "auth__link--same-page", id: "reset-password-button") %>
      <%= render "shared/submit", label: t(".submit_label") %>
    <% end %>
  <% end %>
<% end %>

<%= render "shared/snackbar", light: true %>
